<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About us</title>
</head>
<body>
    <h2>About us</h2>
    <p>
        The Fitroom is a store of original and high-quality clothing and footwear for professional and amateur athletes. The collection is constantly expanding.
        <br />
        <br />
        We offer you only high-quality products, because we are responsible for our brand. The store accepts orders, which you can pick up yourself.
        <br />
        <br />
        In our store you can buy shoes and clothes for sports and everyday life. Products are only original and constantly updated.
        <br />
        <br />
        The Fitroom store is stylish and practical. We have a lot of positive feedback from customers. We always work only for them.
    </p>
</body>
</html>
