@model IEnumerable<LabProject.Resources.Models.Shoe>
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
</head>
<body>
    <h3>All</h3>
    <table class="table_condensed">
        <tr>
            <td>Model</td>
            <td>Brand</td>
            <td>Recommended use</td>
            <td>Price</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ModelName</td>
                <td>@item.Brand.BrandName</td>
                <td>@item.UseWay.WayName</td>
                <td>@item.Price</td>
                <td><a href="~/Home/Buy/@item.Id">Buy</a></td>
            </tr>
        }
    </table>
</body>
</html>
