@model IEnumerable<LabProject.Resources.Models.Shoe>
@{
    ViewData["Title"] = "Fitroom";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
    <link rel="stylesheet" href="~/css/buttonStyles.css" />
</head>
<body>
    
    <br />
    <h3>All</h3>

    <select>
        <option>adidas</option>
        <option>nike</option>
        <option>-</option>
    </select>

    @foreach (var item in Model)
    {
        <div class="product-item">
            <img src=@item.ImageUrl>
            <div class="product-list">
                <h4>@item.Brand.BrandName @item.ModelName</h4>
                <span class="price">@item.Price BYN</span>
                <a href="~/Home/Show/@item.Id" class="button">Show</a>
            </div>
        </div>
    }


</body>
</html>
