@model IEnumerable<LabProject.Resources.Models.Shoe>
@{
    ViewData["Title"] = "Fitroom";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>Fitroom</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Log out" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Log in</a>
        <a asp-controller="Account" asp-action="Register">Sign up</a>
    }
    <br />
    <h3>All</h3>

    @foreach (var item in Model)
    {
        <div class="product-item">
            <img src=@item.ImageUrl>
            <div class="product-list">
                <h4>@item.Brand.BrandName @item.ModelName</h4>
                <span class="price">@item.Price BYN</span>
                <a href="~/Home/Show/@item.Id" class="button">Show</a>
            </div>
        </div>
    }


</body>
</html>
